*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    display: flex;
    justify-content: start;
    align-items: center;
    flex-direction: column;
    gap: 30px;
    height: 100vh;
}

#add-book-btn{
    padding: 5px;
    /* background-color: greenyellow; */
    /* border-radius: 8px; */
}
#add-book-btn:hover{
    background-color: greenyellow;
}



.container{
    display: flex;
    flex: none;
    width: 90vw;
    min-height: 70vh;
    padding: 10px;
    border: 5px solid red;
    height: auto;
    justify-content: start;
    align-content: start;
    flex-wrap: wrap;
    gap: 10px;
    overflow:scroll;
   
}


.card{
    width: 160px;
    height: 150px;
    border: 2px solid black;
    display: flex;
    padding: 2px;
    background-color: antiquewhite;
    /* flex-direction: row-reverse; */

    /* Hide any overflowed content */
    overflow: hidden;
    white-space: nowrap; 
    position: relative;
    
}





.card-close{
    position: absolute;
    top:1px;
    right: 1px;
    max-height: 20px;
    min-width: 20px;
    border-radius: 50%;
    background-color: red;
}


dialog{
    margin: auto;
    padding: 5px;
}

ul{
    display: flex;
    flex-direction: column;
    gap: 10px;
}